.background {
  background-image: url('/images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.vendor-background{
  background-image: url("https://i.pinimg.com/originals/50/5c/86/505c86078071cfa05794264907521db9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.vendor-button{
  margin: 15px;
  padding : 0;
}

.style {
  background-color: black;
  color: white;
  text-shadow: 2px 2px green;
}

.vendor{
  background-color: white;
}

.white-text{
  color: white;
}

.individual-vendor{
  margin-top: 20px;
}
