.background {
  background-image: url('/images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.vendor-background{
  background-image: url("https://i.pinimg.com/originals/50/5c/86/505c86078071cfa05794264907521db9.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.vendor-button{
  margin: 15px;
  padding : 0;
}

.style {
  background-color: black;
  color: white;
  text-shadow: 2px 2px green;
}

.vendor{
  background-color: white;
}

.white-text{
  color: white;
}

.individual-vendor{
  margin-top: 20px;
}

.vendor-image{
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
